


*{padding: 0px;
margin: 0px;
box-sizing: border-box;
}

.container{border: 1px; display: flex;
}

.leftbox{background-color:rgb(14, 22, 22);
width: 350px;
padding: 50px;
}

.rightbox{width: 100%;
    padding: 50px;
}

.user-image{width: 250px;
    height: 250px;
border-radius: 100%;
}

.name-con{ 
margin-top: 70px;
}

.name-con{font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
text-transform: uppercase;

}
.name-con > h2{font-size: 50px;}
.name-con > h5{
text-transform: uppercase;
font-size: 30px;
font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}
.left-site-box{
    /*border: 1px solid white;*/
color: white;
margin: 30px;
}

.left-site-box > h4{text-transform: uppercase;
border-bottom: 2px solid white;
font-size: 25px;
padding-bottom: 10px;
margin-bottom: 20px;
font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.contact-sub-con{
    /*border: 1px solid white;*/
display: flex;
font-family: "Lora", serif;
margin-bottom: 10px;
}

.contact-sub-con > .icon-con {width: 50px;
line-height: 50px;
text-align: center;
font-size: 30px;
}

.contact-sub-con > .text-con > h5 {margin-bottom: 10px;
font-size: 15px;
}

.contact-sub-con > .text-con > p {font-size: 14px;
}

.skills-sub-con >h5 {margin-top: 15px;}

.per-con{border: 1px solid white;
height: 10px;
margin-top: 10px;
background-color: gray;
}

.per{background-color: white;
width: 50%;
height: 10px;}

.per1{background-color: white;
    width: 90%;
    height: 10px;}

    .per2{background-color: white;
        width: 90%;
        height: 10px;}

        .per3{background-color: white;
            width: 90%;
            height: 10px;
        }
        .per4{background-color: white;
            width: 50%;
            height: 10px;
        }
        .per5{background-color: white;
            width: 40%;
            height: 10px;
        }

        .right-site-title{border-bottom: 2px solid gray;
            padding-top: 10px;
        display: flex;
        margin-top: 25px;
        padding-bottom: 15px;
        margin-bottom: 15px;
        font-family: "Noto Serif", serif;
    }

    .right-site-title > .icon-con{width: 40px;
    height: 40px;
margin-left: 25px;
text-align: center;
line-height: 40px;
font-size: 20px;
background-color: rgb(24, 20, 20);
border-radius: 100%;
color: white;
}

.right-site-title > h3{
padding-left: 20px;
text-transform: uppercase;
line-height: 50px;
}

.right-site-con {font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
font-size: 25px;
display: flex;
margin-top: 20px;
}

.right-site-con >.years {font-weight: bold; width: 40%; font-size: 20px;
    padding-right: 15px;
}

.right-site-con > .desc > .desc-title{font-weight: bold;
padding-bottom: 10px;}

p{text-transform: none;}

.img{text-transform: none;
font-size: 25px;
}

a{font-size: 25px;padding-bottom: 5px;
}



footer{background-color: rgb(38, 56, 56);
}

.footercontainer{width: 100%;

padding: 70px 1px 30px;
}

.icon1{display: flex;
justify-content: center;
}

.icon1 a{text-decoration: none;
padding: 10px;
background-color: white;
margin: 10px;
border-radius: 50%;}

.icon1 a i{font-size: 1em;
color: black;
opacity: 0.9;}

.icon1 a:hover{background-color: rgb(14, 22, 22);
transition: 0.5s;}

.icon1 a:hover i{color: white;
transition: 0.5s;}

footer{height: 250px;}
.footerbottom{background-color: black;
padding: 20px;
text-align: center;}

.footerbottom p{color: white;
font-size: 10px;}
 
.designer{opacity: 0.7;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 400;
margin: 0px 5px;}

.footercontainer h5{color: white;}